
.container {
    display: grid;
    grid-template-columns: 75px 190px 700px; /* Specify column widths */
    grid-gap: 20px; /* Add some spacing between columns */
    max-width: 1200px; /* Set a maximum width for the container */
    /* Center the container on the page */
}

.container-assign {
    display: grid;
    grid-template-columns: 75px 900px; /* Specify column widths */
    grid-gap: 20px; /* Add some spacing between columns */
    max-width: 1200px; /* Set a maximum width for the container */
    /* Center the container on the page */
}

.container-assignment {
    display: grid;
    grid-template-columns: 190px 700px; /* Specify column widths */
    grid-gap: 20px; /* Add some spacing between columns */
    max-width: 1200px; /* Set a maximum width for the container */
    /* Center the container on the page */
}

.first-column{
    vertical-align: top;
    background-color: black;
    width: 75px;
    padding: 20px; /* Add some spacing inside the column */
    display: flex; /* Center content horizontally and vertically */
    flex-direction: column; /* Stack items vertically */
    align-items: center;
}

/* Style the right column to take up the remaining space */
.second-column{
    vertical-align: top; 
    padding-left: 25px; 
    padding-right: 25px;
    width: 190px;
}

.third-column{
    vertical-align: top; 
    padding-left: 25px; 
    padding-right: 25px;
    width: 700px;
}


td.first-column{
    background-color: black;
    width: 75px;
    vertical-align: top;
}

td.second-column{
    vertical-align: top; 
    padding-left: 25px; 
    padding-right: 25px;
    width: 190px;
}

a.nav-link{
    color:red;
}

ul.no-bullets {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

table {
    width:1000px;
}

.navigation {
    font-size: 12px;
    color:red;
}

.navigation-link-home {
    color: white;
    text-decoration: none;
}

.navigation-selected-item {
    background-color: white;
}

li.nav-item .active {
    background-color: aqua;
}

.link-profile {
    text-decoration: none;
    color:red;
}

.card-title{
    color:lightblue;
}

.card-text{
    color:gray;
}

.card {
    margin-left: 30px;
    margin-top: 30px;
}

.breadcrumb-item {
  display: inline-block !important;
}

.breadcrumb .breadcrumb-item:not(.active)::after {
  content: " > ";
}

/* Custom CSS for smaller buttons */
.custom-small-button {
  font-size: 10px; /* Adjust font size as needed */
  padding: 3px 6px; /* Adjust padding as needed */
}

.grey-background {
    background-color: #CCCCCC; /* Add your desired grey color here */
}

.wd-account-navigation {
  background-color: white;
  list-style: none;
  padding: 0px;
  width: 190px;
  margin: 0px;
  margin-left: 20px;
}
.wd-account-navigation li {
  padding: 8px 0 8px 6px;
  margin-bottom: 6px;
  margin-top: 6px;
}
.wd-account-navigation li.wd-active {
  border-left: 2px solid #2d3b45;
  font-weight: bold;
  padding-left: 4px;
}
.wd-account-navigation li.wd-active a {
  color: #2d3b45;
}

.wd-account-navigation a {
  color: #b52828;
  text-decoration: none;
}

.profile-header {
  margin: 15px 20px;
}

.profile-picture {
  margin-left: 2.5rem;
  margin-bottom: 1rem;
}

.profile-info {
  margin-left: 3rem;
}

.edit-button {
  display: block;
  margin-left: 600px;
  margin-right: 0;
}

.fa-pencil {
  transform: rotate(270deg);
  margin-right: 5px;
}

a:link {
  text-decoration: none !important;
}

.wd-kanbas-navigation {
  background-color: black;
  list-style: none;
  padding: 0px;
  width: 84px;
  margin: 0px;
  height: 100%;
}

.wd-kanbas-navigation li {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 0.9em;
  text-align: center;
}

.wd-kanbas-navigation li.wd-active {
  background-color: white;
}
.wd-kanbas-navigation li.wd-active a {
  color: #b52828;
}

.wd-kanbas-navigation a {
  color: #ffffff;
  text-decoration: none;
}

.wd-kanbas-navigation a i {
  display: block;
  color: #b52828;
  font-size: 1.6em;
  margin-bottom: 5px;
}

.wd-logo {
  width: 84px;
}

.wd-logo-container {
  padding: 0 1px;
  margin-bottom: 8px;
  text-align: center;
}

.main-content {
  margin-left: 20px;
  margin-right: 30px;
  margin-top: 15px;
}

.card-container {
  margin-top: 30px;
}
.card {
  width: 270px;
  margin-bottom: 40px;
}

.card i {
  color: grey;
}

.card img {
  width: 270px;
  height: 170px;
}

h1 {
  font-weight: 50;
}

h2 {
  font-weight: 200;
}

.card-body {
    height: 120px;
}

.main-content-control .btn {
  margin-left: 4px;
}

.status-list li {
  margin-bottom: 5px;
  background: #eeeeee;
}

.status-list i {
  margin-right: 5px;
}

.module-list > .list-group {
  border-left: 4px solid green;
}

.fa-circle-check {
  color: rgb(3, 133, 3);
  margin-right: 40px;
}

.fa-book {
  margin-right: 20px;
  color: green;
}

.fa-plus,
.fa-glasses {
  margin-right: 3px;
}

.fa-bars {
  margin-right: 10px;
}

.breadcrumb {
  margin-left: 20px;
  margin-top: 15px;
}

a,
a:link,
a:visited {
  text-decoration: none !important;
}

.module-list {
  border-radius: 0;
}

.wd-course-navigation {
  background-color: white;
  list-style: none;
  padding: 0px;
  width: 120px;
  margin: 0px;
  margin-left: 20px;
}
.wd-course-navigation li {
  padding: 8px 0 8px 6px;
  margin-bottom: 6px;
  margin-top: 6px;
}
.wd-course-navigation li.wd-active {
  border-left: 2px solid #2d3b45;
  font-weight: bold;
  padding-left: 4px;
}
.wd-course-navigation li.wd-active a {
  color: #2d3b45;
}

.wd-course-navigation a {
  color: #b52828;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

body * {
  font-family: Arial, Helvetica, sans-serif;
}

.wd-main-css-heading {
  color: green;
  background-color: yellow;
}

.wd-fg-color-black {
  color: black;
}
.wd-fg-color-white {
  color: white;
}
.wd-fg-color-blue {
  color: #7070ff;
}
.wd-fg-color-red {
  color: #ff7070;
}
.wd-fg-color-green {
  color: green;
}

.wd-bg-color-yellow {
  background-color: #ffff07;
}
.wd-bg-color-blue {
  background-color: #7070ff;
}
.wd-bg-color-red {
  background-color: #ff7070;
}
.wd-bg-color-green {
  background-color: green;
}
.wd-bg-color-black {
  background-color: black;
}

.wd-flex-row-container {
  display: flex;
  flex-direction: row;
}
.wd-flex-grow-1 {
  flex-grow: 1;
}

.main-content-control .btn {
  margin-left: 4px;
}

.status-list li {
  margin-bottom: 5px;
  background: #eeeeee;
}

.status-list i {
  margin-right: 5px;
}

.module-list {
  border-radius: 0;
  width: 100%;
}

.module-list > .list-group {
  border-left: 4px solid green;
}

.breadcrumb {
  margin-left: 20px;
  margin-top: 15px;
}

a:link {
  text-decoration: none;
}

.fa-bars {
  margin-right: 10px;
}

.fa-glasses {
  margin-right: 3px;
}

.fa-circle-check,
.fa-link {
  color: rgb(3, 133, 3);
  margin-right: 3px;
}



